<!DOCTYPE html>
<html>
  <head>
    <title>Remote Jobs</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body class="flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold text-green-700 mt-7">Remote Jobs</h1>
    <form action="/report" method class="my-10 border border-gray-100 shadow-md p-10 rounded-md">
      <input class="text-lg p-2 border-2 border-gray-300 mr-5 rounded-md" placeholder="Search by term" required name="word"/>
      <button class="bg-green-600 text-white text-lg p-2 border-2 border-green-700 rounded-md">Find jobs</button>
    </form>
  </body>
</html>